$primary: #118AB2;
$secondary: #f5f5f5;
$info: #c5c5c5;
$dark: #073B4C;
$success: hsl(164, 95%, 43%);
$warning: #FFD166;
$danger: #EF476F;



@import "../../node_modules/bootstrap/scss/bootstrap.scss"